[submodule "gettext"]
	path = gettext
	url = git://git.savannah.gnu.org/gettext.git
	shallow = true
	update = checkout
[submodule "libffi"]
	path = libffi
	url = http://github.com/libffi/libffi.git
	shallow = true
	update = checkout
[submodule "zlib"]
	path = zlib
	url = git@github.com:madler/zlib.git
	shallow = true
	update = checkout
	checkout = "v1.2.8"
[submodule "gnulib"]
	path= qnulib
	url = git://git.savannah.gnu.org/gnulib.git
	shallow = true
	update = checkout
[submodule "roms/vgabios"]
	path = roms/vgabios
	url = git://git.qemu-project.org/vgabios.git/
	shallow = true
	update = checkout
[submodule "roms/seabios"]
	path = roms/seabios
	url = git://git.qemu-project.org/seabios.git/
	shallow = true
	update = checkout
[submodule "roms/SLOF"]
	path = roms/SLOF
	url = git://git.qemu-project.org/SLOF.git
	shallow = true
	update = checkout
[submodule "roms/ipxe"]
	path = roms/ipxe
	url = git://git.qemu-project.org/ipxe.git
	shallow = true
	update = checkout
[submodule "roms/openbios"]
	path = roms/openbios
	url = git://git.qemu-project.org/openbios.git
	shallow = true
	update = checkout
[submodule "roms/openhackware"]
	path = roms/openhackware
	url = git://git.qemu-project.org/openhackware.git
	shallow = true
	update = checkout
[submodule "roms/qemu-palcode"]
	path = roms/qemu-palcode
	url = git://github.com/rth7680/qemu-palcode.git
	shallow = true
	update = checkout
[submodule "roms/sgabios"]
	path = roms/sgabios
	url = git://git.qemu-project.org/sgabios.git
	shallow = true
	update = checkout
[submodule "pixman"]
	path = pixman
	url = git://anongit.freedesktop.org/pixman
	shallow = true
	update = checkout
[submodule "dtc"]
	path = dtc
	url = git://git.qemu-project.org/dtc.git
	shallow = true
	update = checkout
[submodule "roms/u-boot"]
	path = roms/u-boot
	url = git://git.qemu-project.org/u-boot.git
	shallow = true
	update = checkout
[submodule "libiconv"]
	path = libiconv
	url = git://git.savannah.gnu.org/libiconv.git
	shallow = true
	update = checkout
[submodule "glib"]
	path = glib
	url = git://git.gnome.org/glib
	shallow = true
	update = checkout
[submodule "pkgconfig"]
	path = pkg-config
	url = git://anongit.freedesktop.org/pkg-config
	shallow = true
	update = checkout
[submodule "SDL"]
	path = SDL
	url = http://github.com:/SDL-mirror/SDL.git
	shallow = true
	update = checkout
